<div class="lp1">
    <div class="lp1_title">Tax SUCKS.</div>
    <div class="lp1_text">But sometimes you need to know how much you pay...</div>
    <div class="button" routerLink="/calculator">Calculate my tax</div>
    <i class="fa fa-chevron-down lp1_chevron" aria-hidden="true"></i>
</div>

<div class="lp2">
    <div class="lp2_questions">
        <div class="lp2_questions_q lp2_questions_q_1">Something changed in your life?</div>
        <div class="lp2_questions_q">
            <div class="lp2_questions_q_emoji">💷</div>
            New salary?
        </div>
        <div class="lp2_questions_q">
            <div class="lp2_questions_q_emoji">🏦</div>
            New tax laws?
        </div>
        <div class="lp2_questions_q">
            <div class="lp2_questions_q_emoji">🤔</div>
            Or do you simply not trust your accountant?
        </div>
    </div>
    <div class="button_cont">
        <div class="button button_lp2" routerLink="/calculator">Calculate my tax</div>
    </div>
</div>